html {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 75px;
  height: 75px;
}

.site-container {
  float: left;
  margin: auto;
  background-color: #ffa8ec;
  height: 1200px;
  padding: 20px;
}
.form-container {
  padding: 10px 20px;
}

#useroutput {
	float:left;
	padding: 20px;
	height: 1200px;
	background-color:#CCCCCC;
}

#reply {
  width: 500px;
}
