html {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 75px;
  height: 75px;
}

.site-container {
  margin: auto;
  background-color: #ffa8ec;
  max-width: 900px;
}
.form-container {
  padding: 10px 20px;
}
